.selfcare {
    background-color: skyblue;
    padding: 10px;
    ul {
        display: flex;
        gap: 10px;
        li {
            background-color: #fff;
            height: 100px;
            width: 200px;
        }
    }
}